* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Ayuthaya;
  src: url(../css/font/Ayuthaya.ttf);
}
nav {
  height: 160px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .nav-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
}
nav .links {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

form {
  width: 600px;
  min-height: 200px;
  margin: 100px auto;
}
form label {
  font-family: Ayuthaya;
  font-size: 16px;
}
form input {
  width: 600px;
  height: 60px;
  margin-top: 50px;
}