* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  height: 160px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .nav-name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  color: white;
}
nav .links {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .links a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
}